<div class="level">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{ page.media.images[page.header.image].cache.url() }}" width="90%">
            </div>
            <div class="col-md-6">
                <h2>{{ page.header.heading|raw }}</h2>
                <br/>
                <br/>
                <blockquote>
                    {{ page.content|raw }}
                </blockquote>

                <p>{{ page.header.name|raw }}</p>
            </div>
        </div>
    </div>
</div>
