{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
    <head>
        {% include 'partials/head.html.twig' %}
    </head>
    <body{% if page.header.classes %} class="{{ page.header.classes }}"{% endif %}>
        {% block content %}{% endblock %}

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
    </body>
</html>
