{% extends 'partials/base.html.twig' %}

{% block content %}
    {% include 'modular/headernavigation.html.twig' %}

    <div class="level">
        <div class="container">
            <div class="row">
                <h1 class="mb-25 sm-mb-20 heading scaled color-dark heading-bordered bordered-above">
                    {{ page.title }}
                </h1>
                {{ page.content }}
            </div>
        </div>
    </div>
{% endblock %}
